*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face{
	font-family: 'Cutesy';
	src: url(Cutesy.ttf);
}

@font-face{
	font-family: 'Moredya';
	src: url(Moredya-Regular.ttf);
}

@font-face{
	font-family: 'KeepSmile';
	src: url(Keepsmile.otf);
}

body{
	width: 100%;
	height: auto;
}

header{
	padding-top: 30px;
	padding-bottom: 15px;
	width: 40%;
	margin: auto;
	text-align: center;
	background-color: #91CDF8;
	border-top-left-radius: 8%;
	border-top-right-radius: 8%;
}

.profile-picture{
	height: 35%;
	width: 35%;
	border-radius: 50%;
	border: solid 10px #F3D5E8;
	}

section{
	width: 40%;
	margin: auto;
}

h1{
	color: #2DA8FF;
	font-size: 39px;
	font-family: KeepSmile;
	text-shadow: 5px 2px 10px #2C458D;
}

.details{
	text-align: center;
	padding: 30px;
	font-size: 18px;
	font-family: Moredya;
/*	font-weight: bold;*/
}

.about{
	background-color: #91CDF8;
	padding: 15px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;;
}

.about-cinnamoroll{
/*	color: #2C458D;*/
	color: #2DA8FF;
	font-size: 18px;
	font-family: KeepSmile;
/*	text-shadow: 2px 2px 5px #2C458D;*/
	padding-top: 20px;

}

ul{
	padding-top: 25px;
	padding-left: 20px;
}

.about-list{
	margin-bottom: 20px;
/*	color: #2C458D;*/
	font-size: 20px;
	font-family: Moredya;
}

.background{
	background-color: #91CDF8;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}

.wide-background{
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.friends{
	padding-top: 30px;
	color: #2C458D;
}

.friend-list{
/*	display: flex;*/
}

.cinnamoroll-friends{
	font-family: KeepSmile;
	font-size: 18px;
/*	text-shadow: 2px 2px 5px #91CDF8;*/
/*	text-shadow: 2px 2px 5px black;*/
/*	color: #2C458D;*/
	color: #2DA8FF;
	padding-left: 25px;
}

.popo{
	padding: 25px;
	font-family: Moredya;
}

footer{
	width: 40%;
	height: auto;
	margin: auto;
	padding-top: 5px;
	text-align: center;
	background-color: #91CDF8;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 15px;
	font-family: Moredya;
}